@font-face {
  font-family: "Avenir Next Ultra Light";
  src: url("/assets/fonts/AvenirNext-UltraLight.ttf"); }
@font-face {
  font-family: "Avenir Next Italic";
  src: url("/assets/fonts/AvenirNext-Italic.ttf"); }
@font-face {
  font-family: "Avenir Next Regular";
  src: url("/assets/fonts/AvenirNext-Regular.ttf"); }
@font-face {
  font-family: "Avenir Next Medium";
  src: url("/assets/fonts/AvenirNext-Medium.ttf"); }
@font-face {
  font-family: "Avenir Next Demi Bold";
  src: url("/assets/fonts/AvenirNext-DemiBold.ttf"); }
@font-face {
  font-family: "Avenir Next Bold";
  src: url("/assets/fonts/AvenirNext-Bold.ttf"); }
html {
  font-size: calc(0.01*(100vw - 320px) + 10px); }

.text-center {
  text-align: center; }

.green-header-text {
  color: #166762;
  font-family: 'Avenir Next Ultra Light';
  font-size: 3.1rem;
  line-height: 3.7rem;
  text-decoration: none; }

.small-green-header {
  color: #166762;
  font-family: 'Avenir Next Ultra Light';
  font-size: 3.1rem;
  line-height: 3.7rem;
  text-decoration: none;
  font-size: 200%; }

.white-header-text {
  color: white;
  font-family: 'Avenir Next Ultra Light';
  font-size: 4.1rem;
  line-height: 3.7rem;
  text-decoration: none; }

.grey-header-text {
  font-family: 'Avenir Next Ultra Light';
  font-size: 3.1rem;
  line-height: 3.7rem;
  text-decoration: none; }

.text {
  color: #404040;
  font-family: "Avenir Next Regular";
  font-size: 1.4rem;
  line-height: 155%;
  text-decoration: none; }
  @media (min-width: 61.25em) {
    .text {
      font-size: 1rem; } }

.white-text {
  color: #404040;
  font-family: "Avenir Next Regular";
  font-size: 1.4rem;
  line-height: 155%;
  text-decoration: none;
  color: white; }
  @media (min-width: 61.25em) {
    .white-text {
      font-size: 1rem; } }

.text-slightly-smaller {
  color: #404040;
  font-family: "Avenir Next Regular";
  font-size: 1.4rem;
  line-height: 155%;
  text-decoration: none;
  font-size: 0.7rem; }
  @media (min-width: 61.25em) {
    .text-slightly-smaller {
      font-size: 1rem; } }

.text.medium {
  color: #404040;
  font-family: "Avenir Next Medium";
  font-size: 1.4rem;
  line-height: 155%;
  text-decoration: none; }
  @media (min-width: 61.25em) {
    .text.medium {
      font-size: 1rem; } }

.text.demi-bold {
  color: #404040;
  font-family: "Avenir Next Demi Bold";
  font-size: 1.4rem;
  line-height: 155%;
  text-decoration: none; }
  @media (min-width: 61.25em) {
    .text.demi-bold {
      font-size: 1rem; } }

.text.light {
  color: #404040;
  font-family: "Avenir Next Ultra Light";
  font-size: 1.4rem;
  line-height: 155%;
  text-decoration: none;
  color: #A2A2A2;
  font-size: 1.8rem;
  line-height: 3.7rem; }
  @media (min-width: 61.25em) {
    .text.light {
      font-size: 1rem; } }

.text.underline {
  color: #404040;
  font-family: "Avenir Next Regular";
  font-size: 1.4rem;
  line-height: 155%;
  text-decoration: none;
  text-decoration: underline; }
  @media (min-width: 61.25em) {
    .text.underline {
      font-size: 1rem; } }

.text.sdg {
  color: #404040;
  font-family: "Avenir Next Medium";
  font-size: 1.4rem;
  line-height: 155%;
  text-decoration: none;
  font-size: .7rem;
  line-height: 1.3rem;
  letter-spacing: 0.074rem; }
  @media (min-width: 61.25em) {
    .text.sdg {
      font-size: 1rem; } }

.text.legal-notice {
  color: #404040;
  font-family: "Avenir Next Regular";
  font-size: 1.4rem;
  line-height: 155%;
  text-decoration: none;
  font-size: .8rem;
  line-height: 1.1rem; }
  @media (min-width: 61.25em) {
    .text.legal-notice {
      font-size: 1rem; } }

.text.continent-heading {
  color: #404040;
  font-family: "Avenir Next Bold";
  font-size: 1.4rem;
  line-height: 155%;
  text-decoration: none;
  letter-spacing: 2.1px; }
  @media (min-width: 61.25em) {
    .text.continent-heading {
      font-size: 1rem; } }

.text.article-heading {
  color: #404040;
  font-family: "Avenir Next Demi Bold";
  font-size: 1.4rem;
  line-height: 155%;
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
  letter-spacing: .18rem; }
  @media (min-width: 61.25em) {
    .text.article-heading {
      font-size: 1rem; } }

.text.article-meta {
  color: #404040;
  font-family: "Avenir Next Italic";
  font-size: 1.4rem;
  line-height: 155%;
  text-decoration: none;
  color: #A2A2A2;
  font-size: .9rem; }
  @media (min-width: 61.25em) {
    .text.article-meta {
      font-size: 1rem; } }

.text.board-ressort-heading {
  color: #404040;
  font-family: "Avenir Next Regular";
  font-size: 1.4rem;
  line-height: 155%;
  text-decoration: none;
  letter-spacing: .17rem; }
  @media (min-width: 61.25em) {
    .text.board-ressort-heading {
      font-size: 1rem; } }

.text.board-member-name {
  color: #404040;
  font-family: "Avenir Next Demi Bold";
  font-size: 1.4rem;
  line-height: 155%;
  text-decoration: none;
  color: white;
  line-height: 1.4rem; }
  @media (min-width: 61.25em) {
    .text.board-member-name {
      font-size: 1rem; } }

.text.board-member {
  color: #404040;
  font-family: "Avenir Next Regular";
  font-size: 1.4rem;
  line-height: 155%;
  text-decoration: none;
  color: white;
  line-height: 1.4rem; }
  @media (min-width: 61.25em) {
    .text.board-member {
      font-size: 1rem; } }

.no-spacing {
  margin-top: 0; }

.extra-small-spacing {
  margin-top: 0.7rem; }

.extra-small-spacing-bottom {
  margin-bottom: 0.7rem; }

.extra-extra-small-spacing-bottom {
  margin-bottom: 0.3rem; }

.small-spacing {
  margin-top: 0.9rem; }

.normal-spacing {
  margin-top: 2.9rem; }

.large-spacing {
  margin-top: 5rem; }

.extra-large-spacing {
  margin-top: 6rem; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 9fr 1fr;
  grid-template-areas: "content" "nav"; }

main {
  grid-area: content;
  overflow-y: scroll; }

.hidden {
  display: none; }

.full-width {
  width: 100%;
  height: auto; }

.centered-columns {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .centered-columns > *:first-child {
    margin-top: 0; }

.nav-button-spacer {
  grid-area: nav; }

nav {
  width: 100vw;
  height: 100vh;
  position: fixed;
  bottom: 0;
  left: 0;
  pointer-events: none; }
  nav > .background {
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url("/assets/images/BG.png");
    background-size: cover;
    display: none;
    opacity: 0;
    transition: opacity 0.2s; }
  nav .links-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    height: 90%;
    top: 0;
    overflow-y: scroll; }
    nav .links-wrapper .links {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around; }
      nav .links-wrapper .links .nav-item {
        opacity: 0;
        display: flex;
        flex-direction: column;
        align-items: center; }
        nav .links-wrapper .links .nav-item a {
          color: #166762;
          font-family: 'Avenir Next Ultra Light';
          font-size: 3.1rem;
          line-height: 3.7rem;
          text-decoration: none;
          font-size: 4vh; }
        nav .links-wrapper .links .nav-item .group {
          display: flex;
          flex-direction: column; }
          nav .links-wrapper .links .nav-item .group a {
            color: #404040;
            font-family: "Avenir Next Regular";
            font-size: 1.4rem;
            line-height: 155%;
            text-decoration: none;
            font-size: 1.8vh; }
            @media (min-width: 61.25em) {
              nav .links-wrapper .links .nav-item .group a {
                font-size: 1rem; } }
  nav .nav-button {
    width: 100%;
    height: 100%;
    position: absolute;
    height: 10%;
    bottom: 0;
    pointer-events: all; }
    nav .nav-button .background {
      width: 100%;
      height: 100%;
      position: absolute;
      background-color: white;
      border-top: 1px solid #166762; }
    nav .nav-button .icon {
      width: 100%;
      height: 100%;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center; }
      nav .nav-button .icon .nav-button-image {
        height: 50%;
        width: 100%; }

nav.open {
  pointer-events: all; }
  nav.open .background {
    opacity: 1;
    display: block; }
  nav.open .links {
    display: flex; }
  nav.open .nav-button .background {
    opacity: 0; }

.no-spacing {
  margin-top: 0; }

.extra-small-spacing {
  margin-top: 0.7rem; }

.extra-small-spacing-bottom {
  margin-bottom: 0.7rem; }

.extra-extra-small-spacing-bottom {
  margin-bottom: 0.3rem; }

.small-spacing {
  margin-top: 0.9rem; }

.normal-spacing {
  margin-top: 2.9rem; }

.large-spacing {
  margin-top: 5rem; }

.extra-large-spacing {
  margin-top: 6rem; }

.content.landing-page {
  background-image: url("/assets/images/BG.png");
  background-size: cover;
  width: 100%; }
  .content.landing-page::after {
    content: '';
    margin-top: 5rem; }
  .content.landing-page .page {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .content.landing-page .page > * {
      width: 70%; }
    .content.landing-page .page h1 {
      margin-top: 0.9rem;
      width: 90%; }
    .content.landing-page .page p {
      margin-top: 2.9rem; }
    .content.landing-page .page:first-of-type * {
      width: 50%; }
    .content.landing-page .page:first-of-type h1 {
      width: 60%; }
    .content.landing-page .page.sdg {
      width: 50%;
      margin-top: 6rem; }
      .content.landing-page .page.sdg * {
        width: 100%; }
      .content.landing-page .page.sdg img {
        margin-top: 2.9rem; }
    .content.landing-page .page .video-player-wrapper {
      width: 100vw;
      height: 100%;
      max-width: 600px;
      margin-top: 10%;
      margin-bottom: 10%; }
    .content.landing-page .page .icon {
      width: 2.9rem;
      height: 2.9rem; }
    .content.landing-page .page .rotary-banner {
      height: 2.8rem; }
    .content.landing-page .page .buttons {
      height: 2.8rem;
      margin-top: 2.9rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
      .content.landing-page .page .buttons a {
        width: calc((100% - 2.9rem) / 2);
        text-align: center;
        line-height: 250%;
        background: transparent;
        text-decoration: none;
        color: #166762;
        font-family: 'Avenir Next Bold';
        border: #166762 0.15rem solid; }
  .content.landing-page .bubble-container {
    width: 100%;
    height: 100%;
    position: absolute;
    pointer-events: none;
    overflow: hidden; }
    .content.landing-page .bubble-container .bubble {
      width: 10rem;
      height: 10rem;
      border-radius: 50%;
      margin: 0.35rem;
      will-change: transform;
      position: absolute; }

.content.info-page {
  background-image: url("/assets/images/BG.png");
  background-size: cover;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .content.info-page::after {
    content: '';
    margin-top: 5rem; }
  .content.info-page > h2 {
    width: 80%; }
  .content.info-page > p {
    width: 75%; }
  .content.info-page .block-image {
    width: 40%; }
  .content.info-page .prominent-image {
    width: 100vw;
    max-width: 700px;
    max-height: 400px; }
  .content.info-page .video {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .content.info-page .hero {
    height: 50vh;
    width: 100%;
    position: relative; }
    .content.info-page .hero .background {
      width: 100%;
      height: 100%;
      position: absolute;
      -o-object-fit: cover;
         object-fit: cover;
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
              clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%); }
    .content.info-page .hero .hero-header-wrapper {
      width: 100%;
      height: 100%;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center; }
  .content.info-page a,
  .content.info-page p:not([class]) {
    color: #404040;
    font-family: "Avenir Next Regular";
    font-size: 1.4rem;
    line-height: 155%;
    text-decoration: none;
    text-align: center;
    margin-top: 2.9rem; }
    @media (min-width: 61.25em) {
      .content.info-page a,
      .content.info-page p:not([class]) {
        font-size: 1rem; } }
  .content.info-page a {
    color: #404040;
    font-family: "Avenir Next Regular";
    font-size: 1.4rem;
    line-height: 155%;
    text-decoration: none;
    text-decoration: underline; }
    @media (min-width: 61.25em) {
      .content.info-page a {
        font-size: 1rem; } }
  .content.info-page h2 {
    color: #166762;
    font-family: 'Avenir Next Ultra Light';
    font-size: 3.1rem;
    line-height: 3.7rem;
    text-decoration: none;
    text-align: center;
    margin-top: 5rem; }
  .content.info-page .medium {
    color: #404040;
    font-family: "Avenir Next Medium";
    font-size: 1.4rem;
    line-height: 155%;
    text-decoration: none; }
    @media (min-width: 61.25em) {
      .content.info-page .medium {
        font-size: 1rem; } }
  .content.info-page .stats {
    color: #166762;
    font-family: 'Avenir Next Ultra Light';
    font-size: 3.1rem;
    line-height: 3.7rem;
    text-decoration: none;
    font-size: 200%;
    text-align: center; }

.content.contact {
  background-image: url("/assets/images/BG.png");
  background-size: cover;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .content.contact::after {
    content: "";
    margin-top: 5rem; }
  .content.contact h1 {
    color: #166762;
    font-family: 'Avenir Next Ultra Light';
    font-size: 3.1rem;
    line-height: 3.7rem;
    text-decoration: none;
    margin-top: 6rem;
    text-align: center;
    width: 80%; }
  .content.contact .email {
    color: #404040;
    font-family: "Avenir Next Ultra Light";
    font-size: 1.4rem;
    line-height: 155%;
    text-decoration: none;
    color: #A2A2A2;
    font-size: 1.8rem;
    line-height: 3.7rem;
    margin-top: 5rem; }
    @media (min-width: 61.25em) {
      .content.contact .email {
        font-size: 1rem; } }
    .content.contact .email a {
      color: #404040;
      font-family: "Avenir Next Ultra Light";
      font-size: 1.4rem;
      line-height: 155%;
      text-decoration: none;
      color: #A2A2A2;
      font-size: 1.8rem;
      line-height: 3.7rem;
      text-decoration: none; }
      @media (min-width: 61.25em) {
        .content.contact .email a {
          font-size: 1rem; } }
    .content.contact .email::after {
      content: ">";
      margin-left: 0.9rem; }
  .content.contact h2 {
    color: #404040;
    font-family: "Avenir Next Regular";
    font-size: 1.4rem;
    line-height: 155%;
    text-decoration: none;
    letter-spacing: .17rem;
    margin-top: 0.7rem; }
    @media (min-width: 61.25em) {
      .content.contact h2 {
        font-size: 1rem; } }
  .content.contact #interaction-circles,
  .content.contact #administration-circles,
  .content.contact #philantropy-circles {
    height: 30rem;
    width: 100%;
    margin-top: 0.9rem;
    position: relative; }
    .content.contact #interaction-circles .circle,
    .content.contact #administration-circles .circle,
    .content.contact #philantropy-circles .circle {
      width: 7rem;
      height: 7rem;
      transition: width .4s ease-in-out, height .4s ease-in-out;
      border-radius: 50%;
      margin: 0.35rem;
      position: absolute;
      top: 0;
      left: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0); }
      .content.contact #interaction-circles .circle img,
      .content.contact #administration-circles .circle img,
      .content.contact #philantropy-circles .circle img {
        width: 100%;
        height: 100%;
        pointer-events: none; }
      .content.contact #interaction-circles .circle figcaption,
      .content.contact #administration-circles .circle figcaption,
      .content.contact #philantropy-circles .circle figcaption {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        padding: 1rem;
        position: absolute;
        top: 0;
        pointer-events: none;
        opacity: 0;
        transition: opacity .1s ease-in-out;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        overflow-wrap: break-word;
        background-color: #0000008C; }
      .content.contact #interaction-circles .circle.active,
      .content.contact #administration-circles .circle.active,
      .content.contact #philantropy-circles .circle.active {
        width: 17.2rem;
        height: 17.2rem;
        transition: width .4s ease-in-out, height .4s ease-in-out; }
        .content.contact #interaction-circles .circle.active figcaption,
        .content.contact #administration-circles .circle.active figcaption,
        .content.contact #philantropy-circles .circle.active figcaption {
          pointer-events: all;
          opacity: 1;
          transition: opacity .1s ease-in-out .3s; }

.content.join {
  background: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)), url("/assets/images/join_us/background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .content.join img.logo {
    width: 50%; }
  .content.join form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .content.join form .input-box {
      width: 70%;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .content.join form .input-box.error {
        padding: 0.7rem;
        border: #B33D02 0.15rem solid; }
      .content.join form .input-box input {
        text-align: center;
        width: 70%;
        color: #404040;
        font-family: "Avenir Next Regular";
        font-size: 1.4rem;
        line-height: 155%;
        text-decoration: none;
        background: transparent;
        border: none;
        outline: none; }
        @media (min-width: 61.25em) {
          .content.join form .input-box input {
            font-size: 1rem; } }
        .content.join form .input-box input::-webkit-input-placeholder {
          color: #404040;
          font-family: "Avenir Next Regular";
          font-size: 1.4rem;
          line-height: 155%;
          text-decoration: none; }
        .content.join form .input-box input:-ms-input-placeholder {
          color: #404040;
          font-family: "Avenir Next Regular";
          font-size: 1.4rem;
          line-height: 155%;
          text-decoration: none; }
        .content.join form .input-box input::-ms-input-placeholder {
          color: #404040;
          font-family: "Avenir Next Regular";
          font-size: 1.4rem;
          line-height: 155%;
          text-decoration: none; }
        .content.join form .input-box input::placeholder {
          color: #404040;
          font-family: "Avenir Next Regular";
          font-size: 1.4rem;
          line-height: 155%;
          text-decoration: none; }
          @media (min-width: 61.25em) {
            .content.join form .input-box input::-webkit-input-placeholder {
              font-size: 1rem; }
            .content.join form .input-box input:-ms-input-placeholder {
              font-size: 1rem; }
            .content.join form .input-box input::-ms-input-placeholder {
              font-size: 1rem; }
            .content.join form .input-box input::placeholder {
              font-size: 1rem; } }
      .content.join form .input-box textarea {
        width: 70%;
        background: transparent;
        border: none;
        outline: none;
        color: #404040;
        font-family: "Avenir Next Regular";
        font-size: 1.4rem;
        line-height: 155%;
        text-decoration: none; }
        @media (min-width: 61.25em) {
          .content.join form .input-box textarea {
            font-size: 1rem; } }
        .content.join form .input-box textarea::-webkit-input-placeholder {
          text-align: center;
          color: #404040;
          font-family: "Avenir Next Regular";
          font-size: 1.4rem;
          line-height: 155%;
          text-decoration: none; }
        .content.join form .input-box textarea:-ms-input-placeholder {
          text-align: center;
          color: #404040;
          font-family: "Avenir Next Regular";
          font-size: 1.4rem;
          line-height: 155%;
          text-decoration: none; }
        .content.join form .input-box textarea::-ms-input-placeholder {
          text-align: center;
          color: #404040;
          font-family: "Avenir Next Regular";
          font-size: 1.4rem;
          line-height: 155%;
          text-decoration: none; }
        .content.join form .input-box textarea::placeholder {
          text-align: center;
          color: #404040;
          font-family: "Avenir Next Regular";
          font-size: 1.4rem;
          line-height: 155%;
          text-decoration: none; }
          @media (min-width: 61.25em) {
            .content.join form .input-box textarea::-webkit-input-placeholder {
              font-size: 1rem; }
            .content.join form .input-box textarea:-ms-input-placeholder {
              font-size: 1rem; }
            .content.join form .input-box textarea::-ms-input-placeholder {
              font-size: 1rem; }
            .content.join form .input-box textarea::placeholder {
              font-size: 1rem; } }
      .content.join form .input-box .error-message {
        color: #404040;
        font-family: "Avenir Next Regular";
        font-size: 1.4rem;
        line-height: 155%;
        text-decoration: none;
        color: #B33D02;
        text-align: center; }
        @media (min-width: 61.25em) {
          .content.join form .input-box .error-message {
            font-size: 1rem; } }
    .content.join form label {
      width: 70%;
      text-align: center;
      color: #404040;
      font-family: "Avenir Next Regular";
      font-size: 1.4rem;
      line-height: 155%;
      text-decoration: none; }
      @media (min-width: 61.25em) {
        .content.join form label {
          font-size: 1rem; } }
    .content.join form input[type="checkbox"] {
      width: auto; }
    .content.join form input[type="submit"] {
      width: auto;
      background: transparent;
      padding: 0.7rem;
      color: #404040;
      font-family: "Avenir Next Bold";
      font-size: 1.4rem;
      line-height: 155%;
      text-decoration: none;
      letter-spacing: 2.1px;
      border: black 0.15rem solid; }
      @media (min-width: 61.25em) {
        .content.join form input[type="submit"] {
          font-size: 1rem; } }
    .content.join form #response-message {
      color: #404040;
      font-family: "Avenir Next Regular";
      font-size: 1.4rem;
      line-height: 155%;
      text-decoration: none; }
      @media (min-width: 61.25em) {
        .content.join form #response-message {
          font-size: 1rem; } }
      .content.join form #response-message.error {
        color: #B33D02; }
      .content.join form #response-message.success {
        color: #166762; }

.content.donate {
  background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("/assets/images/donate/background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .content.donate img.logo {
    width: 50%; }
  .content.donate p {
    width: 70%; }
    .content.donate p a:link, .content.donate p a:visited {
      color: #404040;
      font-family: "Avenir Next Regular";
      font-size: 1.4rem;
      line-height: 155%;
      text-decoration: none;
      color: white;
      text-decoration: underline; }
      @media (min-width: 61.25em) {
        .content.donate p a:link, .content.donate p a:visited {
          font-size: 1rem; } }
    .content.donate p a:hover, .content.donate p a:active {
      color: #404040;
      font-family: "Avenir Next Regular";
      font-size: 1.4rem;
      line-height: 155%;
      text-decoration: none;
      color: white;
      text-decoration: underline; }
      @media (min-width: 61.25em) {
        .content.donate p a:hover, .content.donate p a:active {
          font-size: 1rem; } }
  .content.donate .payment-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #404040;
    font-family: "Avenir Next Regular";
    font-size: 1.4rem;
    line-height: 155%;
    text-decoration: none;
    color: white; }
    @media (min-width: 61.25em) {
      .content.donate .payment-info {
        font-size: 1rem; } }

* {
  overflow: hidden;
  scrollbar-width: none; }

::-webkit-scrollbar {
  display: none; }
